.main {
  margin: 0 auto;
  padding: 0 var(--vp-size-space);
  width: auto;
  max-width: var(--vp-size-main-width);
}

.VPNavScreen {
  z-index: calc(var(--vp-z-index-nav) + 1);
}

.article .vp-doc div[class*='language-'],
.article .vp-code-group .tabs {
  margin-left: calc(0px - var(--vp-size-space));
  margin-right: calc(0px - var(--vp-size-space));
}

a:focus-visible,
button:focus-visible {
  outline-color: var(--vp-c-brand-lighter);
}

@media (min-width: 768px) {
  .main {
    padding: 0 calc(var(--vp-size-space) * 2);
  }

  .article .vp-doc div[class*='language-'],
  .article .vp-code-group .tabs {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 960px) {
  .main {
    padding: 0 var(--vp-size-space);
  }
}

@media (min-width: 1100px) {
  .main {
    padding: 0;
  }
}

.page-enter-from {
  transform: scale(0.99);
  opacity: 0;
}
.page-leave-to {
  transform: scale(1.01);
  opacity: 0;
}
.page-enter-to,
.page-leave-from {
  transform: scale(1);
  opacity: 1;
}
.page-enter-active,
.page-leave-active {
  overflow: hidden;
  transition: var(--vp-transition-transform);
}

.posts-move,
.posts-enter-active {
  transition: all var(--vp-transition-duration)
    cubic-bezier(0.15, 0.32, 0.61, 1.31);
  transition-delay: var(--vp-posts-delay);
}
.posts-enter-from,
.posts-leave-to {
  opacity: 0;
  transform: scale(0.9) translateY(2rem);
}
.posts-leave-active {
  transition: all 0s;
}
.posts-leave-active {
  position: absolute;
}
