:root {
  --vp-size-main-width: 68.75rem;
  --vp-size-cover-height: 20rem;
  --vp-size-cover-img-height: 25rem;
  --vp-size-cover-blur: 7px;
  --vp-size-space: 0.7rem;

  --vp-c-transparent: transparent;

  --vp-posts-span: 6;
  --vp-posts-direction: column;
  --vp-posts-height: 12rem;

  --vp-transition-duration: 0.25s;
  --vp-transition-all: all var(--vp-transition-duration);
  --vp-transition-color: color var(--vp-transition-duration);
  --vp-transition-transform: transform var(--vp-transition-duration),
    opacity var(--vp-transition-duration);

  /* the vars of reading progress */
  --vp-reading-size: 3px;
  --vp-reading-gradient: none;
}

@media (min-width: 768px) {
  :root {
    --vp-posts-span: 3;
  }
}

@media (min-width: 960px) {
  :root {
    --vp-posts-span: 2;
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --vp-transition-duration: 0s;
  }
}
